*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 28px;
    text-align: center;
    margin-top: 50px;
}

.row{
    width: 100%;
    margin-top: 100px;
}

section{
    background-color: grey;
    border: 1px solid black;
    width:90%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

h2{
    font-size: 24px;
    text-align: center;
    height: 40px;
    width: 120px;
    padding-top: 5px;
    border: 1px solid black;
    position: absolute;
    top: 0px;
    right: 0px;
}

#chicken{
    background-color: brown;
}
#beef{
    background-color: rgb(200, 240, 57);
}
#sushi{
    background-color: rgb(27, 64, 231);
}

p{
    padding: 50px 15px;
}

/*for large devices-Desktop*/
@media (min-width: 992px) {
    .col-lg-4{
        width: 33.33%;
        float: left;
    }
}


/*for medium devices-Tablet*/
@media (min-width: 768px) and (max-width: 991px){
    .col-md-6{
        width: 50%;
        float: left;
    }
    .col-md-12 section{
        width: 95%;
    }
    .col-md-12{
        width: 100%;
        float: left;
    }
}




